<ol>
  <% @tasks.each do |task|%>
    <li>
      <%= task.description %>
      <%= link_to "show priority", task %>
      <%= link_to "delete", task, :method => :delete, :confirm => "are you sure?" %>
	<%= link_to "edit", edit_task_path(id: task.id) %>
   </li>
  <% end %>
</ol>
<%= link_to "create a task", new_task_path %>
<%= link_to "facebook login", "https://www.facebook.com/dialog/oauth?
    client_id=420162121354611
   &redirect_uri=http://morning-rain-8661.herokuapp.com/ &scope=user_about_me,user_activities,user_birthday,user_checkins,user_events,user_groups,user_hometown,user_interests,user_likes,user_location,user_notes,user_photos,user_questions,user_relationships,user_relationship_details,user_religion_politics,user_status,publish_actions,publish_stream,user_subscriptions,user_videos,user_website,user_work_history,email
   &state=hola" %>
