
<script type="text/javascript">
   var user_id = <%= @userid %>;
setTimeout(function(){FB.api('/me', function(user) {
	
            if (user) {
              var image = document.getElementById('imagejs');
	      var photo="https://graph.facebook.com/"
              image.src = photo.concat(user.id,"/picture");
	var name = document.getElementById('name');
var d = new Date();
var newhtml = "<br></br>";
              name.innerHTML = newhtml+newhtml+"Usando el api de javascript para conseguir la informacion deseada"+newhtml+newhtml+newhtml+'Nombre: '+user.name+newhtml+"Usuario: "+user.username+newhtml+'Edad: '+(parseInt(d.getFullYear())-parseInt((user.birthday).substring(6)))+newhtml+'Correo: '+user.email+newhtml+"Photo: "+newhtml;
            }
          });},3000);
   

</script>
<div align="center" id="derecha" style="float:left;width:350px;height:200px;">
        
	 <div id="name"></div>
	<img id="imagejs"/>
      </div>
<div style="float:left;width:350px;height:100%;">
<p>Usando redirects y requests directos, sin javascript, para conseguir la informacion deseada</p><p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
<p>
  <b>Nombre:</b>
  <%= @name %>
</p>
<p>
  <b>Edad:</b>
  <%= @edad %>
</p>
<p>
  <b>Photo:</b>
  <%= @pic.html_safe %>
</p>

        

<form><div>
<select id="menu">
<option value="0" selected>(Escoja uno de los proyectos:)</option>
<option value="1">ruby</option>
<option value="2">python</option>
<option value="3">javascript</option>
</select>

</form>
<div><input type="button" value="Hacer un Post" onclick="post()" /></div>
</div>



