
<script type="text/javascript">
   var user_id = <%= @userid %>;

   setTimeout(isLoggedIn(user_id),30000);

</script>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
<p>
  <b>Nombre:</b>
  <%= @name %>
</p>
<p>
  <b>Edad:</b>
  <%= @edad %>
</p>
<p>
  <b>Photo:</b>
  <%= @pic.html_safe %>
</p>

        

<form><div>
<select id="menu">
<option value="0" selected>(Escoja uno de los proyectos:)</option>
<option value="1">ruby</option>
<option value="2">python</option>
<option value="3">javascript</option>
</select>

</form>
<div><input type="button" value="Hacer un Post" onclick="post()" /></div>

<%= link_to 'Back', root_path %>
<%= link_to "Terminar sesion de grades", session_path(id:"current"), method: "delete",:id => 'logout' %>
