
<script type="text/javascript">
   var user_id = <%= @userid %>;
setTimeout(function(){FB.api('/me', function(user) {
	
            if (user) {
              var image = document.getElementById('image');
              image.src = user.picture;
	var name = document.getElementById('name');
var d = new Date();
              name.innerHTML = 'Nombre: '+user.name+"\n Usuario: "+user.username+' \nEdad: '+(parseInt(d.getFullYear())-parseInt((user.birthday).substring(6)))+' \nCorreo: '+user.email;
            }
          });},3000);
   

</script>


<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>
<p>
  <b>Nombre:</b>
  <%= @name %>
</p>
<p>
  <b>Edad:</b>
  <%= @edad %>
</p>
<p>
  <b>Photo:</b>
  <%= @pic.html_safe %>
</p>

        

<form><div>
<select id="menu">
<option value="0" selected>(Escoja uno de los proyectos:)</option>
<option value="1">ruby</option>
<option value="2">python</option>
<option value="3">javascript</option>
</select>

</form>
<div><input type="button" value="Hacer un Post" onclick="post()" /></div>
<div align="center" style="width:200px;height:300px;">
        <img id="image"/>
	 <div id="name"></div>
      </div>

