<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="fb-root"></div>


<script>
function isLoggedIn(user_id){
FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    
    var uid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
    if(uid==user_id){
		return
	}else{

	}
  } else if (response.status === 'not_authorized') {

  } else {
   	
  }
 });
	document.getElementById("logout").click();
}
	function post() {

if(valid()!=0){
var val=document.getElementById('menu').options[document.getElementById('menu').selectedIndex].text;
var string="http://morning-rain-8661.herokuapp.com/";
var url=string.concat(val,".html");
                FB.api('/me/gradesdisplay:develop', 'post', { project: url }, function(response) {
  if (!response || response.error) {
    alert(response.error.message);
  } else {
    alert('Post ID: ' + response.id);
  }
});
}else{
	alert('Escoja una de las opciones');
}
            };
function post2(){
var body = 'Reading JS SDK documentation';
FB.api('/me/feed', 'post', { message: body }, function(response) {
  if (!response || response.error) {
    alert('Error occured');
  } else {
    alert('Post ID: ' + response.id);
  }
});
};
function valid() {
menu=document.getElementById('menu')
  if(menu.selectedIndex == 0) {
    
    return 0;} 
  else {
      return menu.selectedIndex; }};


        window.fbAsyncInit = function() {
          FB.init({
            appId      : '420162121354611', // App ID
            channelUrl : 'http://morning-rain-8661.herokuapp.com/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });

          setTimeout(function(){FB.api('/me', function(user) {
            if (user) {
              var image = document.getElementById('image');
              image.src = user.picture;
	var name = document.getElementById('name');
var d = new Date();
              name.innerHTML = 'Nombre: '+user.name+"\n Usuario: "+user.username+' \nEdad: '+(parseInt(d.getFullYear())-parseInt(user.birthday.substring(6)))+' \nCorreo: '+user.email;
            }
          });},2000);
        };

        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));



 


      </script>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">FB.init();</script>
      


<div align="center">
        <img id="image"/>
	 <div id="name"></div>
      </div>
<% flash.each do |name, msg| %>
<div id="flash_<%= name %>">
	<%= msg %>
</div>

<% end %>


<%= yield %>


</body>
</html>
