<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="fb-root"></div>
<link rel="icon" 
      type="image/png" 
      href="/Favicon.png" />

<script>
function isLoggedIn(user_id){
FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    
    var uid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
    if(uid==user_id){
	
		return;
	}else{
		
		var link=document.getElementById('logout');
	link.click();
	}
  } else if (response.status === 'not_authorized') {
		
	var link=document.getElementById('logout');
	link.click();
  } else {
	
   	var link=document.getElementById('logout');
	link.click();
  }
 });
	
}
	function post() {
isLoggedIn(user_id);

if(valid()!=0){
var val=document.getElementById('menu').options[document.getElementById('menu').selectedIndex].text;
var string="http://morning-rain-8661.herokuapp.com/";
var url=string.concat(val,".html");
                FB.api('/me/gradesdisplay:develop', 'post', { project: url }, function(response) {
  if (!response || response.error) {
    alert(response.error.message);
  } else {
    //alert('Post ID: ' + response.id);
  }
});
}else{
	alert('Escoja una de las opciones');
}
            };
function post2(){
var body = 'Reading JS SDK documentation';
FB.api('/me/feed', 'post', { message: body }, function(response) {
  if (!response || response.error) {
    alert('Error occured');
  } else {
    alert('Post ID: ' + response.id);
  }
});
};
function valid() {
menu=document.getElementById('menu')
  if(menu.selectedIndex == 0) {
    
    return 0;} 
  else {
      return menu.selectedIndex; }};


        window.fbAsyncInit = function() {
          FB.init({
            appId      : '420162121354611', // App ID
            channelUrl : 'http://morning-rain-8661.herokuapp.com/channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
          });

          
        };

        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));



 


      </script>
<script src="https://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">FB.init();</script>
      





































<div id="header">
<div align="center" style="color:#A4A4A4;">
        <br /><br />
<h1>Applicacion de busqueda de informacion <br />y publicacion de posts para facebook</h1>
<br /><br />
      </div>

	

	<div class="menulinks" align="center" style="position:relative;left:30%;">

	<div class="butttons redondo" style="width:100px;height:30px;"><a class="m" href="/">Home</a></div>
	<% if logged_in? %>
	<div class="butttons redondo" style="width:100px;height:30px;"><%= link_to "Mi Perfil", current_user, :class => 'm' %></div>
      
      <% end %>

	<div class="butttons redondo" style="width:100px;height:30px;"><a class="m" href="/about">About</a></div>
	<div class="butttons redondo" style="width:100px;height:30px;"><a class="m" href="/contact">Contact</a></div>
	
	<% if logged_in? %>
	<div class="butttons redondo" style="width:100px;height:30px;"><%= link_to "Terminar sesion", session_path(id:"current"), method: "delete",:id => 'logout',:class=>'m' %></div>
      
      
      <% else %>
	  <div class="butttons redondo" style="width:110px;height:30px;"><%= link_to "facebook login", "https://www.facebook.com/dialog/oauth?
    client_id=420162121354611
   &redirect_uri=http://morning-rain-8661.herokuapp.com/tasks/ &scope=user_about_me,user_activities,user_birthday,user_checkins,user_events,user_groups,user_hometown,user_interests,user_likes,user_location,user_notes,user_photos,user_questions,user_relationships,user_relationship_details,user_religion_politics,user_status,publish_actions,publish_stream,user_subscriptions,user_videos,user_website,user_work_history,email
   &state=hola".html_safe, :id => 'class' %></div>
      
      <% end %>
	
	
</div>
<div id="colmask">
	<div id="colmid">
		<div id="colright">
			<div id="col1wrap">
				<div id="col1pad">
					<div id="col1">
						<!-- Column 1 start -->
							<% flash.each do |key, value| %>
							<div class="flash <%= key %>"><%= value %></div>
							<% end %>
							<%= yield %>
							

						<!-- Column 1 end -->
					</div>
				</div>

			</div>
			<div id="col2">
				<!-- Column 2 start -->
				<!--< render 'posts/form2' %>-->
   
	
				<!-- Column 2 end -->
			</div>
			<div id="col3">
				<!-- Column 3 start -->
				
				<!-- Column 3 end -->

			</div>
		</div>
	</div>
</div>
<div id="footer">
	
</div>

</body>
</html>
